.d-box {
    border: 1px solid #fb9300;
    border-radius: 20px;
    margin-bottom: 2em;
    display: flex;
    padding: 3%;
}
.d-title,
.d-contents,
.d-file {
    justify-content: center;
}
.tag-btn {
    border-radius: 30px;
}

.x-in {
    background-color: white;
    border: 0px;
    font-size: 1.2em;
}
.x-in:focus {
    outline: none;
}
#in-contents {
    text-align: left;
}
.adress-btn {
    background-color: #fb9300;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}
.adress-btn:hover {
    color: white;
}
#in-phone {
    margin-left: 4em;
}
.confirm-btn {
    border: 1px solid #fb9300;
    border-radius: 10px;
    color: #fb9300;
    font-size: 1.3em;
    height: 3em;
}

.d-btn :hover {
    background-color: #fb9300;
    color: white;
}
.bi-j :hover {
    border: 1px solid #fb9300;
    border-radius: 20px;
}
.d-select {
    background-color: #0d6efd;
    color: white;
}

#imgs {
    width: 0px;
    height: 0px;
}

label {
    border: 0px;
    border-radius: 10px;
    background-color: #fb9300;
    color: white;
    height: 40px;
    width: 90px;
    margin-bottom: 5px;
    padding: 7px;
    padding-left: 12px;
    margin-left: 5px;
}
