.tap-box {
    margin-top: 3em;
    margin-bottom: 3em;
}
.nav-link {
    font-family: 'Comic Sans MS';
    font-size: 1.3em;
    color: rgb(251, 147, 0);
}
.nav-line {
    height: 5px;
    background-color: rgb(251, 147, 0);
    border-radius: 20px;
    margin-top: 6px;
}
.content-card {
    margin-top: 30px;
}
.card {
    border-radius: 20px;
}
.c-img {
    object-fit: fill;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-text > span {
    font-size: 20px;
}
.card:hover {
    border: 3px solid orange;
}

.paging {
    margin-top: 30px;
    margin-bottom: 30px;
}
.page-link {
    color: rgb(251, 147, 0);
}
