.whole {
     margin-left: 15%;
    width: 3090px;
    height: 1000px;
}

.row1 {
    float: left;
    /*margin-left: 400px;*/
    width: 300px;
    height: 800px;
}
.row2 {
    /*margin-right: 200px;*/
    margin-left: 300px;
    /*padding-bottom: 800px;*/
    width: 750px;
    height: 800px;
    /* background-color: rgb(231, 16, 16); */
    position: relative;
}
.row3 {
    border-top: 1px solid gray;
    height: 200px;
    width: 1050px;
    /*margin-left: 400px;*/
    display: flex;
    justify-content: space-evenly;
}
#row3content {
    position: relative;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
}

/*기본 틀*/

#logobox {
   margin-left: 60px;
   margin-top: 30px;
}
#loginbox {
    margin-top: 10px;
    margin-left: 5px;
    background-color:Orange;
    height: 150px;
    width: 280px;
    border: red none 1px;
    border-radius: 10%;
}
#id {
    margin-left: 10%;
    width: 50%;
   
}
#pw {
    margin-left: 10%;
    width: 50%;
}
#loginimage {
  float: right;
   margin-right: 30px;
   
}
#loginbox h3 {
    float: left;
    color: lightgreen;
    margin-left: 5%;
}
#loginbox h4 {
    float: left;
    margin-left: 10px;
}
#join {
    margin-left: 15px;
    margin-top: 10px;
}
#ullist {
    margin-top: 10px;
    background-color: Orange;
    height: 170px;
    width: 280px;
    border : none;
    border-radius: 10%;
}
#ullist {
    margin-left: 5px;
}
#ullistimage {
    margin-left: 10px;
    margin-top: 10px;
}
#topmenu {
    width: 100%;
    text-align: right;
}

#menubarimg{
    position: relative;
    display: flex;
}
#imgtext1{
    margin-top: 2px;
    margin-left: 30px;
    position: absolute;
    top: 30px;
    color: white;
    font: bold;
}
#imgtext2{
    writing-mode: horizontal-tb;
    margin-top: 2px;
    margin-left: 200px;
    position: absolute;
    top: 30px;
    color: white;
    font: bold;
}
#imgtext3{
    writing-mode: horizontal-tb;
    margin-top: 2px;
    margin-left: 350px;
    position: absolute;
    top: 30px;
    color: white;
    font: bold;
}
#imgtext4{
    writing-mode: horizontal-tb;
    margin-top: 2px;
    margin-left: 480px;
    position: absolute;
    top: 30px;
    color: white;
    font: bold;
}
#imgtext5{
    writing-mode: horizontal-tb;
    margin-top: 2px;
    margin-left: 630px;
    position: absolute;
    top: 30px;
    color: white;
    font: bold;
}
#mainimg {
    margin-top: 10px;
}
#notice {
    width: 380px;
    height: 125px;
}
#notice_title1 {
    margin-left: 2px;
}
#notice_more {
    margin-left: 265px;
}
#notice_book {
    margin-left: 30px;
    position: relative;
}
#noticetxt1 {
    position: absolute;
    margin-left: 20px;
    font-size: 12px;
    font : bold;
}
#noticetxt2 {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12px;
    font : bold;
}
#noticetxt3 {
    position: absolute;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 12px;
    font : bold;
}
#noticetxt4 {
    position: absolute;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 12px;
    font : bold;
}
#noticedate1 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: px;
    margin-left: 180px;
}
#noticedate2 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 20px;
    margin-left: 180px;
}
#noticedate3 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 40px;
    margin-left: 180px;
}
#noticedate4 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 60px;
    margin-left: 180px;
}
#free {
    width: 380px;
    height: 125px;
    /* float: left; */
}
#free_title1 {
    margin-left: 2px;
}
#free_more {
    margin-left: 255px;
}
#free_book {
    margin-left: 30px;
    position: relative;
}
#free_text1 {
    position: absolute;
    margin-left: 20px;
    font-size: 12px;
    font : bold;
}
#free_text2 {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12px;
    font : bold;
}
#free_text3 {
    position: absolute;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 12px;
    font : bold;
}
#free_text4 {
    position: absolute;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 12px;
    font : bold;
}
#freedate1 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: px;
    margin-left: 180px;
}
#freedate2 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 20px;
    margin-left: 180px;
}
#freedate3 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 40px;
    margin-left: 180px;
}
#freedate4 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 60px;
    margin-left: 180px;
}
 #youtube {
    width: 400px;
    height: 250px; 
    margin-left: 15px;  
} 
#youtubetitle {
    margin-left: 2px;
    /* margin-bottom : 500px; */
}
#content-container {
    display: flex;
}
#youtubeTitle {
    margin-left: 10px;
}
#youtubeMore {
    margin-left: 195px;
}
#youtubeMovie {
    margin-left: 50px;
    margin-top: 5px;
}
#gallery {
    margin-top: 15px;
}
#galleryTitle {
    margin-left: 2px;
}
#galleryBorder {
    border: 2px grey solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
/* css-tricks 사이트 이용 */


#galleryPhoto1 {
    margin-top: 20px;
}
#galleryPhoto2 {
    margin-top: 20px;
}
#galleryPhoto3 {
    margin-top: 20px;
}
/* #galleryText {
    display: flex;
    align-items: center;
}
.photoBoxText1 {
    margin-left: 100px; */


/* #row3Image {
    position: relative;
} */

#row3_content1 {
    margin-left: 150px;
    
}

#row3_content3 {
    margin-left: 150px;
}