.tag-reset{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    margin-inline-start: 0;

}
body{
      overflow: auto;
}

.tap-menu{
    margin: 5vh auto 0 auto;
    width: 30vw;
    height: 36px;

}
.tap-check{
    height: 36px;
    color: white;
    background-color: rgb(251, 147, 0);
    border-radius: 0.4vw;
    font-size: 0.9em;
    border: 0px;
}
.tap-uncheck{
    height: 36px;
    background-color: white;
    border: 1px solid rgb(251, 147, 0);
    border-radius: 0.4vw;
    font-size: 0.9em
}

.content-title{
    margin: 6vh auto 0 auto;
    text-align: center;
}


.search-option{
    display: flex;
    justify-content: space-between;
}
.view-clicked{
    width: 5vw;
    height: 30px;
    background-color: rgb(251, 147, 0);
    color: white;
    border: 0px;
    border-radius: 0.8vw;
}
.view-click{
    width: 5vw;
    height: 30px;
    background-color: white;
    color: black;
    border: 1px solid rgb(251, 147, 0);
    border-radius: 0.8vw;
}
.search-values{
    height: 110px;
    border-radius: 1vw;
    border: 1px solid rgb(251, 147, 0);

}
.search-values select{
    border: 1px solid rgb(251, 147, 0);
    border-radius: 0.6vw;
    width: 100px;
    height: 30px;
    padding-left: 10px;
}
.search{
    margin-top: 4vh;

}


.search-values div{
    height: 100px;

}
.search-values div div{

    display: inline-block;

}
.value-box{
    width: 10vw;
    height: 500px;
    margin: 16px 10px;

}

.value-box select{
    margin-top:16px;

}
#search-submit{
    margin-top: 28px;
    text-align: center;
}
#search-submit button{
    width: 200px;
    height: 48px;
    background-color: rgb(251, 147, 0);
    color: white;
    border: 0px;
    border-radius: 1vw;
}

.result{
    margin-top: 42px;
}

.result-value{
    width: 100%;
    padding-top: 20px;
    border: 1px solid rgb(251, 147, 0);
    text-align: center;
    border-radius: 1.4vw;

}
.result-value div{
    border-radius: 2vw;
    height: 48px;
}
.result-value div h5{
    display: inline;
    font-size: 1.4em;
}


.result-container >div{
    padding: 0px 6%;

}
.fly-img{
    font-size: 1.8em;
}

.sort{
    margin-top: 20px;
}
.sort h5{
    display: inline-block;
}
.sort select{
    margin-top: 10px;
    border: 1px solid rgb(251, 147, 0);
    border-radius: 0.6vw;
    width: 100px;
    height: 30px;
    padding-left: 5px;
}
.result-table{
    margin-top: 10px;
    height: 460px;
    border-radius: 1.4vw;
    border: #dddddd 1px solid;
    width: 400px;
    overflow: auto;
}
.table{
    overflow: auto;
}
.table th,td{
    font-size: 0.8em;
}
.payment{
    padding-top: 30px;
}
.caution{
    margin-left: 4vw;
    color: red;
}

.payment div span{
    font-size: 0.8em;
    margin-right: 8vw;
}
.payment button{
   width: 126px;
    height: 56px;
    margin-right: 4vw;

    background-color: rgb(251, 147, 0);
    color: white;
    border: 0px;
    border-radius: 1vw;
}

#air-code1 img,#air-code2 img{
    width: 28px;
    height: 28px;
}