li,ul{
    list-style: none;
    margin: 0;
    padding: 0!important;
    padding-inline-start: 0;
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    vertical-align: baseline;
}


.tap-menu{
    margin: 5vh auto 0 auto;
    width: 30vw;
    height: 36px;

}
.tap-check{
    height: 36px;
    color: white;
    background-color: rgb(251, 147, 0);
    border-radius: 0.4vw;
    font-size: 0.9em;
    border: 0px;
}
.tap-uncheck{
    height: 36px;
    background-color: white;
    border: 1px solid rgb(251, 147, 0);
    border-radius: 0.4vw;
    font-size: 0.9em
}

.content-title{
    margin: 6vh auto 0 auto;
    text-align: center;
}

.out-line{
    border-bottom:1px solid #cccccc;
    width: 100%;
    margin-top: 2vh;
}

.detail-container{
    margin-top: 60px;
    height: 650px;

}
.detail-container h2{
    text-align: center;
    margin-bottom: 24px;

}

.img-box{
    width: 100%;
    margin-top: 2vh;
}
.bic-img{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.info-container{
    margin-top: 14px;
}

.search-values{
    margin: 0 auto;
    height: 100px;
}

.search-value{
    border: 1px solid rgb(251, 147, 0);
    width: 25%;
    height: 66px;
    float: left;
    margin-right: 1vw;
    border-radius: 1.2vw;
    margin-top: 2vh;
}


.search-values div:nth-child(4){
    border: 0px;
    float: right;
    height: 60px;
    
}
.search-values div:nth-child(3){
    border: 0px;
    width: 0;
}
.search-values div:nth-child(4) h2{
    margin: 0;
}
.search-values div:nth-child(4) button{
    margin-top: 6px;
}

.search-values button{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: rgb(251, 147, 0);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 1vw;
    border: 0px;
}
.search-values p,span{
    margin-bottom: 6px;
    margin-left: 1vw;
}
.search-value img{
    width: 20px;
    float: right;
    margin-right: 1vw;
}
.result-info{
    margin-top: 8vh;
    height: 600px;
}
.result-info p{
    margin-top: 4vh;
}
.result-info h5{
    margin-bottom: 2vh;
    margin-top: 4vh;
}
.result-info h6{
    font-weight: bold;

}
.result-info span{
    margin: 1vh 0 0 0;
    display: block;
}
