li,ul{
    list-style: none;
    padding: 0!important;
    padding-inline-start: 0;
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    vertical-align: baseline;
}


.tap-menu{
    margin: 5vh auto 0 auto;
    width: 30vw;
    height: 36px;

}
.tap-check{
    height: 36px;
    color: white;
    background-color: rgb(251, 147, 0);
    border-radius: 0.4vw;
    font-size: 0.9em;
    border: 0px;
}
.tap-uncheck{
    height: 36px;
    background-color: white;
    border: 1px solid rgb(251, 147, 0);
    border-radius: 0.4vw;
    font-size: 0.9em
}

.content-title{
    margin: 6vh auto 0 auto;
    text-align: center;
}

.out-line{
    border-bottom:1px solid #cccccc;
    width: 100%;
}

.mini-container{
    height: 360px;
}
.search{
    margin:auto;
}
.search-option{
    height: 40px;
    margin-top: 10px;
}

.search-values{
    margin: 0 auto;
    height: 100px;
    overflow: visible;
    display: inline;
}

.search-value{
    border: 1px solid rgb(251, 147, 0);
    width: 160px;
    height: 80px;
    float: left;
    margin-left: 0.6vw;
    border-radius: 1.2vw;

}
.search-values div:nth-child(1){
    width: 160px;
    margin-left: 15vw;
}
.search-values div:nth-child(4){
    border: 0px;
}
.search-values button{
    width: 120px;
    height: 60px;
    margin-top: 20px;
    background-color: rgb(251, 147, 0);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 1vw;
    border: 0px;
}
.search-values p,span{
    margin-bottom: 6px;
    margin-left: 1vw;
}
.search-value img{
    width: 20px;
    float: right;
    margin-right: 1vw;
}
.result-container{
    width: 100%;

}
.result-box{
    margin: 30px auto 0 auto;
    width: 70%;
    min-width: 440px;


}
.result-item{
    margin: 40px auto 0 auto;
    width: 100%;
    height: 200px;
    border: 2px solid rgb(251, 147, 0);
    border-radius: 1vw;
    overflow: auto;
}

.item-line-1{
    margin: 10px;
    width: 160px;
    height: 160px;
    border: 1px solid black;
    float: left;
}
.item-line-1 img{
    width: 158px;
    height: 158px;
}
.item-line-2{
    width: 44%;
    margin-top: 10px;
    min-width: 160px;
    float: left;

}
item-line-2 div{
    width: 100%;
    text-align: center;
}
item-line-2 h5{
    margin-left: 30px;

}
.item-line-2 span{
    display: block;
    margin-top: 6px;
}
.item-line-3{
    margin-top: 10px;
    margin-right: 10px;
    width: 22%;
    min-width: 121px;
    float: right;
}
.item-line-2 img{
    width: 24px;
}
.item-line-2 h5{
    display: inline-block;
    text-align: center;
}

.item-line-3 h4{
    float:right;
    margin-top: 30px;

}
.review-btn{
    width: 80px;
    height: 46px;
    border: 1px solid rgb(251, 147, 0);
    background-color: white;
    color: #aaaaaa;
    border-radius: 1.4vw;

}
.reserv-btn{

    width: 100%;
    height: 60px;
    margin-top: 20px;
    background-color: rgb(251, 147, 0);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 1vw;
    border: 0px;

}