@font-face {
    font-family: 'Cooper';
    src: url('../../../asset/font/Cooper\ Black\ BT.ttf') format('ttf');
}

.container {
    margin-top: 20px;
    background-color: rgb(251, 147, 0);
    border-radius: 30px;
    padding: 4%;
}
.inner-box {
    background-color: white;
    border-radius: 30px;
    padding: 2%;
}
.todo-content {
    margin-top: 20px;
    height: 65vh;
    overflow: scroll;
}
.todo-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.t-todo {
    border: none;
    text-align:center;
}
.t-todo:focus {
    outline: none;
    border-radius: 10px;
    background-color: #eeeeee;
}
.delete-btn{
	cursor : pointer;
}
.content-box {
    margin-bottom: 2em;
}
.todo-col {
    font-size: 1.5em;
}

.todo-input-box {
    height: 4em;
}
.x-in {
    background-color: white;
    border: 1px solid #d8d2cb;
    border-radius: 30em;
    font-size: 1.6em;
}
.x-in:focus {
    outline: none;
}
.confirm-btn {
    display: flex;
    background-color: rgb(251, 147, 0);
    border-radius: 20px;
    color: white;
    width: 15%;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
}
