.d-box {
    border: 1px solid #fb9300;
    border-radius: 20px;
    margin-bottom: 2em;
    display: flex;
    padding: 3%;
}
.d-title,
.d-contents,
.d-file {
    justify-content: center;
}
.tag-btn {
    border-radius: 30px;
}

.x-in {
    background-color: white;
    border: 0px;
    font-size: 1.2em;
}
.x-in:focus {
    outline: none;
}
#in-contents {
    text-align: left;
}
.adress-btn {
    background-color: #fb9300;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}
.adress-btn:hover {
    color: white;
}
#in-phone {
    margin-left: 4em;
}
.confirm-btn {
    border: 1px solid #fb9300;
    border-radius: 10px;
    color: #fb9300;
    font-size: 1.3em;
    height: 3em;
}

.d-btn :hover {
    background-color: #fb9300;
    color: white;
}
.bi-j :hover {
    border: 1px solid #fb9300;
    border-radius: 20px;
}
.d-select {
    background-color: #0d6efd;
    color: white;
}

.newDes{
	text-align :center;
	
}
.col-text{
	margin-top : 50px;
}