
header{
    background-color: rgb(13,12,25);
}
.headers {
    height: 10vh;
    width: 100vw;
    background-color: rgb(13,12,25);
    color: rgb(227,146,35);
    display: flex;
    justify-content: space-between;


}
.header_info{
    padding-top: 0.3vw;
    background-color: rgb(13,12,25);
    color: rgb(94,94,94);
    padding-right: 15vw;
    font-size: 1em;
    text-align: right;
}

.header_logo{
    margin-top: 2.2vh;
    margin-left: 14vw;
    font-size: 1.5em;
    font-family: "Comic Sans MS";
}
.header_login{
    margin-top: 2.2vh;
    margin-right: 14vw;
    font-size: 1.5em;
    font-family: "Comic Sans MS";
}
.main_container{
    height: 60vw;
    background-color: rgb(13,12,25);
    display: flex;
    justify-content: center;
}
.hosting{
    border: 1px solid beige;
    position: absolute;
    width: 44vw;
    height: 8vh;
    background-color: white;
    border-radius: 30px;

    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    min-width: 450px;
    min-height: 60px;
}
.hosting div{
    margin-top: 1.2vw;
}
.main_img{
    height: 45vw;
    width: 72%;
    display: block;
    margin-top: 6vw;
    border-radius: 4vw;
    background-image: url("../img/background.jpeg");
    background-size: 100%;
}

body{
    margin: 0px;
}

.wrap{
    width: 72vw;
    margin: 0 auto;
    display: block;
    border: 3px solid red;

}
#second_container{
    margin-top: 10vh;
    border: 1px solid black;
    display: block;
}
#second_container div{
    border: 1px solid black;
    padding-bottom: 20%;
}

.second_container h1{
   font-size: 2em;
    border: 1px solid black;
    margin: 0;
}
.second_container div div{
    border: 1px solid black;
}



.third_container{
    margin : 15vh auto 0 auto;
    width: 72vw;
    height: 60vh;
    border: 1px solid black;

}
.fourth_container{
    margin : 15vh auto 10vh auto;
    width: 72vw;
    height: 60vh;
    border: 1px solid black;
}
