
body{
    margin: 0px;
}

.wrap{
    width: 100vw;
    display: block;
}

.first_container{
    width: 100vw;
    height: 40vh;
}

.first_container h4 {
    font-weight: bold;
    margin-left: 5vw; 
    margin-top: 3vh;
}

.contents_box{
    width: 90vw;
    height: 30vh;
    background-color: rgb(250, 250, 250);
    margin-top: 1vh;
    margin-left: 5vw;
    box-shadow: 1px 1px 5px 0px;
    display: flex;
}

.user{
    width: 90vw;
    height: 15vh; 
}

.user_picture{
    width: 15vw;
    height: 15vh; 
    border-bottom: solid 4px #f5e6ca;
    margin-left: 5vw;
    float: left
}

.user_info{
    width: 65vw;
    height: 15vh; 
    border-bottom: solid 4px #f5e6ca;
    float: left
}

.user_info h5{
    margin-top: 20px;
}

.user_info h6{
    margin-top: -10px;
}

.logout{
    margin-top: -5px;
}

.logout button{
    width: 70px;
    height: 25px;
    background-color: #fb9300;
    color: white;
}

.contents{ 
}

.second_container {
    width: 100vw;
    height: 35vh;
}

.second_container h5 {
    font-weight: bold;
    margin-left: 5vw; 
    margin-top: -1vh;
}

.wishList_box {
    width: 100vw;
    height: 30vh;
    display: flex;  
}

.wishList_box ul {
    width: 17vw;
    height: 30vh;
    background-color: #e0e0e0;
    float: left;
    border-radius: 25px;
    margin-left: 6vw;
    display: flex;
}


footer{
    background-color: #2f394d;
    width: 100vw;
    height: 20vh;
    margin-top: 8vh;
    
}
