
  .container {                        /*고객센터 컨테이너*/
   width:100%;
    height:100%;
    background:.000;
  }
  .body {
    width:90%;
    height:600px;
    position:absolute;
    background-color: white;  /** 작업 끝나면 흰색으로 **/
  }
  
  .body-a {                       /*고객센터 머리*/
    width:70%;
    height:50px;
    margin: auto;
    background-color: #f1f1f170;
    border-bottom:thick solid;
    border-color: #F3E3B0;
  }
  .img-1 {
    position: relative;
    width: 50px;
    }
  
  .Service-center {
    position:absolute;
    font-size:20px;
    font-weight:bold;
    margin: 8px;
  }
  .all-btn {
    background-color: white;
    float:right;
    border:solid;
    border-color: gray;
    margin: 8px;
  }
  
  .body-b {                                 /* 검색창 */
		position: relative;
		width: 70%;
		height: 120px;
		margin: auto;
		background-color: #f1f1f170;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search {
    border: 1px solid #F1F1F1;
    border-radius: 50px;
    width: 70%;
    height: 40px;
    padding-left: 60px;
    left: 150px;
    margin: 15px;
    background:url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" )no-repeat;

    }
  .s-img{
    background-color: white;
    background-size: 30px 30px;
    background-position: 10px;
  }

  .a-button {
  border:0;
  background-color: #f9f9f9;
  color: orange;
  margin: 3px;
  }
  
  .a-tb {
    caption-side: bottom;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

  .body-d {                           /* 공지사항 */
  position:relative;
  width:70%;
  height:50px;
  background-color: #f9f9f9;
  border-top:thick solid;
  border-color: #F3E3B0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  }
  
  .b-button {
  width: 200px;
  height: 30px;
  border:0;
  background-color: #f9f9f9;
  color: black;
  font-size:15px;
  font-weight:400;
  border: 3px;
  border-style: ridge;
  }
  
  .clicked {
  color: white;
  background-color: orange;
  }
  
  .body-e {
  position:relative;
  background-color: #f9f9f9;
  width: 70%;
  margin: auto;
  }
  
  .c-button {
   font-size: 15px;
   width: 530px;
   background-color: #f9f9f9;
   margin: 3px;
   display: flex;
   border-bottom: 1px solid orange;
   border-top: 0;
   border-right: 0;
   border-left: 0;
  }
  
    #tb1 ,#tb2{                      
  table-layout:fixed;
  border-collapse: collapse;
  }  
  #tb1 th, #tb2 th {
   background: #dfdfdf;
   text-align: center;
  }
  #tb1 th, #tb1 td, #tb2 th, #tb2 td {
  padding: 3px;
  width: 500px;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  text-align: center;
  }

  .tb1 tr td:first-child, .tb2 tr td:first-child{
  text-align: center;
  }
  
  .content {
    background-color:rgb(255, 210, 128);
    display:none;
    height:30px;
  }
  
  
  
