body{
    margin: 0px;
}
ul{
	margin:0;
	padding :0;
}
li{
	margin:0;
	padding:0;
}

.wrap{
    width: 100vw;
    height: 100vh;
    display: block;
}

.first_container{
    width: 100vw;
    height: 10vh;
    display: block;
}

.first_box1{
    width: 10vw;
    height: 10vh;
    float: left;
}


.first_box2{
    width: 25vw;
    height: 10vh;
    float: left;
}

.first_box2 h5 {
    font-weight: bold;
    margin-top: 4.7vh;
    font-size: 1.5vw;
}

.first_box2 h5 a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.first_box3{
    width: 55vw;
    height: 10vh;
    float: left;
    text-align: right;
}

.first_box3 ul{
    width: 40vw;
    text-align: center;
    margin-top: 6vh;
    list-style-type: none;
}


.first_box3 ul h5 {
    text-align: center;
    margin-left: 1vw;
    font-weight: bold;
    font-size: 0.75vw;
    overflow: hidden;
}

#col1 {
    margin-top: -1vh;
    font-size: 1.25vw;
}


#col2 a{
    color: black;
    text-decoration: none;
}

#col2 a:hover {
    color: #fb9300;
    cursor: pointer;
    font-size: 1.1em;
}


#col3 a{
    color: #fb9300;
    text-decoration: none;
}

#col3 a:hover {
    color: #fb9300;
    font-size: 1.1em;
}

#col4 a{
    color: black;
    text-decoration: none;
}

#col4 a:hover {
    color: #fb9300;
    font-size: 1.1em;
}

.first_box4{
    width: 10vw;
    height: 10vh;
    float: left
}


.second_container {
    width: 100vw;
    height: 60vh;
    float: left;
    display: block;
}

.second_box1{
    width: 10vw;
    height: 60vh;
    float: left;
}


.second_box2{
    width: 25vw;
    height: 60vh;
    float: left;
}

.second_box3{
    width: 55vw;
    height: 60vh;
    float: left;
}

.extra_text {
    width: 55vw;
    height: 5vh;
    float: left;
}

.second_box3 li {
    margin-top: 1vw;
    margin-left: 3vw;
    font-size: 0.9vw;
}

.second_box3 h5 {
    margin-top: 10vh;
    margin-left: 2vw;
    font-size: 1.25vw;
    font-weight: bold;
}

.second_box3 h6 {
    margin-top: 4vh;
    margin-right: 8vw;
    font-size: 0.75vw;
    text-align: right;
}

.second_box4{
    width: 10vw;
    height: 60vh;
    float: both;
}

.second_box3 table{
    font-size: 1vw;
    margin-left: 2.5vw;
    width: 45vw;
    height: 30vh;
    border-radius: 1em;
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 5px 0px;
    overflow: hidden;
}


.second_box3 span {
  margin-left: 2vw;
}

.second_box3 p {
	margin-top: 6vh;
  margin-left: 2vw;
  font-weight: bold;
}


#orange {
	margin: 0 auto;
	color: orange;
}

.second_box3 input {
  width: 20vw;
  height: 4vh;
  margin-left: 2vw;
  display: flex;
}
  
#td-1 {
    width: 15vw;
    height: 7.5vh;
    border-top-left-radius: 1em;
    background-color: #eaeaea;
    text-align: center;
}

#td-2 {
    width: 15vw;
    height: 7.5vh;
    background-color: #eaeaea;
    text-align: center;
}

#td-3 {
    width: 15vw;
    height: 7.5vh;
    background-color: #eaeaea;
    text-align: center;
}

#td-4 {
    width: 10vw;
    height: 11.25vh;
    background-color: #eaeaea;
    text-align: center;
    background-image: url("../../img/tip.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

#td-5 {
    width: 35vw;
    height: 11.25vh;
    background-color: #eaeaea;
    text-align: center;
}

#td-5 li {
    font-size: 0.6vw;
    text-align: left;
    margin-left: -3vw;
    margin-top: -0.1vh;
    padding:0 auto
}


#null {
    width: 30vw;
    height: 7.5vh;
}


.contents_box{
    margin:0;
    padding:0;
    width: 20vw;
    height: 57vh;
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 5px 0px;
    border-radius: 1em;
    float: left;
}


.con1 {
    width: 20vw;
    height: 28.5vh;
    
}

.user_photo {
    margin-top: 6vh;
    margin-left: 1vw;
    width: 10vw;
    height: 20vh;
    float:left;
    background-image: url("../../img/profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    overflow: hidden;
}

.user_info {
    margin-top: 5vh;
    width: 8.5vw;
    height: 20vh;
    float:right;
    overflow: hidden;
    
}

.user_info h5{
    margin-top: 6vh;
}

.user_info h6{
    font-size: 0.7vw;
    margin-top: -1vh;
    overflow: hidden;
}

.logout {
    width: 8vw;
    height: 5vh;
}

#btn1{
    width: 5vw;
    height: 3vh;
    background-color: #fb9300;
    color: white;
    margin-right: 3vw;
    font-size: 0.8vw;
    font-weight: bold;
    float:right;
    border-radius: 0.5em;
    border: 0;
    outline: 0;
    overflow: hidden;
}

.line {
    margin-left: 2.5vw;
    width: 15vw;
    height: 28.5vh;
    
    border-bottom: solid 4px #f5e6ca;
}

.con2 {
    width: 20vw;
    height: 28.5vh;
    
}


.second_box2 table{
    margin-top: -0.5vh;
    width: 20vw;
    height: 28.5vh;
    border-radius: 1em;
}

.second_box2 table td {
    padding: 3vh;
    
  }

#img1 {
    padding: 1vw, 4vh;
    background-image: url("../../img/id.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    cursor: pointer;
}

#img2 {
    padding: 1vw, 4vh;
    background-image: url("../../img/tag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    cursor: pointer;
}

#img3 {
    padding: 2vw, 4vh;
    background-image: url("../../img/wishlist.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    cursor: pointer;
}

#img4 {
    padding: 2vw, 4vh;
    background-image: url("../../img/friendslist.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    cursor: pointer;
}


#img_lock {
    margin-top: 1vh;
    width: 150px;
    height: 100px;
    background-image: url("../../img/lock.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    float: left;
}

#img1_text {
    padding: 1vh;
    font-size: 0.5vw;
    text-align: center;
}

#img2_text {
    padding: 1vh;
    font-size: 0.5vw;
    text-align: center;
}

#img3_text {
    padding: 1vh;
    font-size: 0.5vw;
    text-align: center;
}

#img4_text {
    padding: 1vh;
    font-size: 0.5vw;
    text-align: center;
}

.third_container {
    width: 100vw;
    height: 30vh;
    float: left;
    display: block;
}

.third_box1{
    width: 10vw;
    height: 30vh;
    float: left;
}


.third_box2{
    width: 25vw;
    height: 30vh;
    float: left;
}

.third_box3{
    width: 55vw;
    height: 30vh;
    float: left;
}

.third_box4{
    width: 10vw;
    height: 30vh;
    float: both;
}

.btn_box {
    margin-left: 27.5vw;
    width: 20vw;
    height: 5vh;
    float: left;
    overflow: hidden;
}

#btn2{
    width: 7vw;
    height: 5vh;
    float: right;
    background-color: #fb9300;
    color: white;
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0.5em;
    border: 0;
    outline: 0;
    min-width: 20px;
    min-height: 40px;
}

#btn3{
    width: 7vw; 
    height: 5vh;
    margin-right: 1vw;
    background-color: white;
    color: black;
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0.5em;
    float: right;
    border: 1px solid #bebebe
}


footer{
    background-color: #2f394d;
    width: 100vw;
    height: 30vh;
    
}
