.container {
    padding: 0px;
}

.tag-container {
    height: 45vh;
    width: 100%;
    margin-top: 20px;
}

.sc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

span {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.box {
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 80%;
    height: 100%;
    cursor: pointer;
}

#favor-box {
    border-color: rgb(251, 147, 0);
}

#hate-box {
    border-color: #f55353;
}

.tag {
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    height: 25px;
}
.favor {
    border-color: rgb(251, 147, 0);
}

.confirm-btn {
    border-radius: 10px;
    background-color: rgb(251, 147, 0);
    height: 5vh;
    width: 10%;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 5px;
    float: right;
    margin-right: 1%;
}
