body{
    margin: 0px;
}

.wrap{
    width: 100vw;
    display: block;
}

.first_container{
    width: 100vw;
    height: 40vh;
}

.first_container h4 {
    font-weight: bold;
    margin-left: 10vw;
    margin-top: 3vh;
}

.first_container h4 a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.box1{
    width: 10vW;
    height: 30vh;
    float: left
}

.contents_box{
    width: 80vw;
    height: 30vh;
    background-color: rgb(250, 250, 250);
    margin-top: 1vh;
    box-shadow: 1px 1px 5px 0px;
    float: left
}

.user{
    width: 80vw;
    height: 15vh; 
    float: left
}

.user_photo{
    width: 15vw;
    height: 15vh; 
    margin-left:5vw;
    border-bottom: solid 4px #f5e6ca;
    background-image: url("../../img/profile.png");
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    cursor: pointer;
}

.user_info{
    width: 55vw;
    height: 15vh; 
    border-bottom: solid 4px #f5e6ca;
    float: left;
}

.user_info h5{
    margin-top: 3.5vh;
    font-size: 1em;
}

.user_info h6{
    margin-top: -1vh;
}

.logout{
    margin-top: -0.5vh;
}

.logout button{
    width: 5vw;
    height: 3vh;
    background-color: #fb9300;
    color: white;
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0.5em;
    border: 0;
    outline: 0;
}

.contents{
    width: 80vw;
    height: 15vh;
    float: left
}

.contents_box1{
    width: 80vw;
    height: 10vh;
    float: left
}

.contents_box2{
    float:left;
    width: 80vw;
    height: 5vh;
}

.contents_box1 ul{
    margin-top: -2vh;
    width: 80vw;
    height: 15vh;
}

.contents_box2 ul{
    width: 80vw;
    height: 5vh;
}

.contents_box1 li{
    list-style-type: none;
}

.contents_box2 li{
    text-align: center;
    list-style-type: none;
}

#img1{
    background-image: url("../../img/id.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    cursor: pointer;
}

#img2{
    background-image: url("../../img/tag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    cursor: pointer;
}

#img3{
    background-image: url("../../img/wishlist.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    cursor: pointer;
}

#img4{
    background-image: url("../../img/friendslist.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    cursor: pointer;
}

.box2{
    width: 10vw;
    height: 30vh;
    float: left;
}


.second_container {
    width: 100vw;
    height: 35vh;
}

.second_container h5 {
    font-weight: bold;
    margin-top: 1vh;
    margin-left: 10vw;
}

.wishList_box {
    width: 80vw;
    height: 30vh;
    display: flex;
    text-align: center;
}

.wishList_box ul {
    width: 20vw;
    height: 33vh;
    margin-left: 2vw;
    margin-top: 3vh;
    background-color: #e0e0e0;
    float: left;
    border-radius: 25px;
    display: flex;
    cursor: pointer;
    background-image: url("../../img/wishlist.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 145%;
}

.wishList_box ul:hover {
    opacity: 0.5;
}


footer{
    background-color: #2f394d;
    width: 100vw;
    height: 20vh;
    margin-top: 8vh;
    
}
