@font-face {
    font-family: 'SuncheonR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonR.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}
.container {
    margin-bottom: 20px;
}

.carousel-item {
    height: 65vh;
}
img {
    object-fit: fill;
}

.des-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.des-name {
    font-size: 36px;
    font-weight: bold;
    height: 10vh;
    width: 22vw;
    text-align: center;
    margin-top: 70px;
}
.like-box {
    align-items: center;
}

.like-btn {
    border: 0;
    outline: 0;
    background-color: transparent;
    /* color: rgb(251, 147, 0); */
    margin-left: 8px;
}

.l-check > svg {
    background-color: transparent;
    fill: rgb(245, 71, 72);
}

.like-cnt {
    color: rgb(251, 147, 0);
    font-size: 25px;
    margin-left: 5px;
}

.des-detail {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgb(245, 230, 202);
    border-radius: 10px;
    width: 36vw;
    height: 15vh;
    justify-content: space-around;
}

.des-detail > div {
    margin-left: 25px;
}

.des-detail-colum {
    font-weight: bold;
    width: 100px;
    margin-right: 30px;
}

.line {
    width: 36vw;
    height: 1px;
    background-color: black;
}

.review-box {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 36vw;
}
.review-box > div {
    font-size: 20px;
    font-weight: bold;
}

.comment-container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 36vw;
}
.comment-box {
    margin-top: 10px;
    margin-bottom: 10px;
}
.comment-user {
    margin-bottom: 20px;
    height: 40%;
}
.c-profile-img {
    width: 50px;
    height: 50px;
    background-color: bisque;
    border-radius: 50px;
    margin-right: 20px;
}
.c-regDate {
    margin: 5px;
    color: darkgray;
}
.c-line {
    width: 36vw;
    height: 1px;
    background-color: black;
}

.c-rud {
    color: darkgrey;
}
.c-rud * {
    margin-right: 5px;
    cursor: pointer;
}
.add-comment {
    border: 1px solid rgb(251, 147, 0);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: fixed;
    top: 90vh;
    z-index: 30;
    margin-right: 15%;
    align-self: end;
    text-align: center;
    font-size: 30px;
    padding-top: 2px;
    cursor: pointer;
}
