@font-face {
    font-family: 'Cooper';
    src: url('../../asset/font/Cooper\ Black\ BT.ttf') format('ttf');
}

.container {
    display: flex;
    padding: 0;
    flex-direction: column;
    margin-bottom: 30px;
}
.mini-container {
    display: flex;
    /* width: 100vw; */
    justify-content: space-evenly;
}
.left-container {
    display: flex;
    flex-direction: column;
    /* background-color: cadetblue; */
    align-items: flex-end;
}
.right-container {
    display: flex;
    flex-direction: column;
    /* padding-left: 10%; */
    align-items: flex-start;
    /* background-color: cornflowerblue; */
}
.left-container > div {
    margin-bottom: 20px;
}
.right-container > div {
    margin-bottom: 60px;
}
.travel-name {
    padding: 5px;
    border: 1px solid rgb(251, 147, 0);
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Comic Sans MS';
}
.travel-period {
    border: 1px solid rgb(251, 147, 0);
    border-radius: 30px;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Comic Sans MS';
}
.travel-companion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid rgb(251, 147, 0);
    border-radius: 10px;
    margin-top: 10%;
    justify-content: center;
}
.invite-box {
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 10px;
}
.invite-box > div {
    font-family: 'Comic Sans MS';
}
.invite-btn {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(251, 147, 0);
    font-weight: bold;
    color: green;
    padding: 0px;
    margin-right: 5px;
}
.comp-list {
    margin-bottom: 5px;
}
.pro-img {
    width: 30px;
    height: 30px;
    background-color: bisque;
    border-radius: 50px;
    margin-right: 5px;
}
.user-nic {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
}
.travel-cost {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 20px; */
    border: 1px solid rgb(251, 147, 0);
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10%;
    font-family: 'Comic Sans MS';
}
.travel-weather {
    height: 12%;
    border: 1px solid rgb(251, 147, 0);
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    padding-top: 5px;
    font-family: 'Comic Sans MS';
}
.travel-tag {
    border: 1px solid rgb(251, 147, 0);
    border-radius: 10px;
    height: 70%;
}
.tag-colum {
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(251, 147, 0);
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-family: 'Comic Sans MS';
}
.travel-root {
    border: 1px solid rgb(251, 147, 0);
    border-radius: 10px;
    height: 70%;
}
.travel-todo {
    height: 70%;
    border: 1px solid rgb(251, 147, 0);
    border-radius: 10px;
}

.modal-content {
    border-radius: 15px;
    height: 120px;
    width: 90%;
    background-color: white;
    padding: 2%;
    border: 0px;
}
.m-header {
    border: 0px;
    height: 40%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-box {
    padding: 0px;
    height: 10%;
    display: flex;
    justify-content: center;
    padding-left: 14%;
    /* background-color: antiquewhite; */
}
.btn-sm {
    background-color: rgb(251, 147, 0);
    color: white;
}
.name-input {
    width: 70%;
    border: 0px;
    border-bottom: 1px solid black;
    padding-left: 10px;
}
.name-input:focus {
    outline: none;
}
