.myBoard{
text-align: center;
margin-left: 1200px;
margin-right: 150px;
  background-color:#f8941c;
  color: white;
  font-weight: bold ;
   border-radius: 8px;

	
}



.container {
	margin: 5px;
}

.row {
	margin: 20px;
}

.card {
	border-color: red;
	border-style: solid;
	border-width: 1px;
}

.card-img-top {
	padding: 5px;
}

.card-title {
	text-align: center
}

.like {
	height: 30px;
	font-size: 1.0em;
	color: red;
}



.pagination {
	text-align: center;
}

.pagination>li>a {
	float: none;
}